<table class="ui celled table">
<form class="ui segment form" action="/dashboard/addreport2" method="PUT">
  
    {{> cork }}
  
  <thead>
    {{> reading-header }}
  </thead>
  {{> reading-row2}}
  <button class="ui blue submit button">Add Report</button>
  </form>
</table>