<table class="ui celled table">
  <form class="ui segment form" action="/dashboard/addreport" method="POST">
    {{> tramore }}
  
  <thead>
    {{> reading-header }}
  </thead>
  {{> reading-row}}
      <button class="ui blue submit button">Add Report</button>
    </form>
</table>